<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration>
<!-- Status determines which *internal* log4j log messages are included. -->
<Configuration status="warn"> <!-- warnining messages-->
    <Appenders>
        <!-- We can make the console output more user-friendly if we want. -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%level{info=INFO, warn=WARN, error=ERROR, fatal=FATAL}: %m %exception{short.message}%n"/>
        </Console>

        <!-- We can still keep details in a file log for debugging. -->
        <File name="FileLog" fileName="debug.log" append="false">
            <PatternLayout pattern="[00%sequenceNumber %level{warn=WA, debug=DE, error=ER, trace=TR, info=IN, fatal=FA}] %file:%line %thread - %msg %exception{3}%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Class-specific LoggerSetup Logger -->
        <Logger name="edu.usfca.cs272.LoggerSetup" level="fatal" additivity="false"> <!-- outputs fatal messages-->
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
			<AppenderRef ref="Console" level="info"/> <!-- info and higher messages-->
            <AppenderRef ref="FileLog"/> 
        </Root>

    </Loggers>
</Configuration>